#container {
  background-color: gray;
  border: 1px solid black;
  width: 400px;
  margin: 40px auto;
  
}

h1 {
  text-align: center;
}

.button_guardar {
  background-color: green;
  color: white;
}

.button_eliminar {
  background-color: red;
  color: white;
}

