<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
</head>

<body>
  <div id="container">
    <form>
      <h1>Agenda</h1>

      <input placeholder="Search" type="search" id="text" [(ngModel)]="contact.name" [ngModelOptions]="{standalone: true}"><br>

      <label for="text">First Name</label>
      <input [ngClass]="{'inputError': nameError.length > 0 && contact.name != ''}" type="text" id="text"
        [(ngModel)]="contact.name" [ngModelOptions]="{standalone: true}" (focus)="onFocus()" (blur)="onBlur()"><br>
      <span [hidden]="this.contact.name.length == 0 || this.contact.name.length > 6 || nameError == ''"
        class="error">{{nameError}}<br></span>
      <label for="text">Last Name</label>
      <input type="text" id="text" [(ngModel)]="contact.lastname" [ngModelOptions]="{standalone: true}"><br>

      <label for="text">Email</label>
      <input [ngClass]="{'inputError': emailError.length > 0}" type="email" id="text" [(ngModel)]="contact.email" [ngModelOptions]="{standalone: true}" (blur)="onBlur()" (focus)="onFocus()"  ><br>
      <span [hidden]="this.contact.email.length == 0 || emailError ==''" class="error">{{emailError}}<br></span>
      <label for="text">Phone number</label>
      <input type="number" id="text" name="drone" [(ngModel)]="contact.telephone"
        [ngModelOptions]="{standalone: true}"><br>
      <button class="button_guardar" (click)="saveContact(contact)">Guardar Contacto</button>
      <button class="contact_all" [hidden]="this.contactAllButtonPressed == true || contactList.length == 0" (click)="contactAll()">Marcar todos como contactados</button>
      <button class="undo_contact_all" [hidden]="this.contactAllButtonPressed == false" (click)="undoContactAll()">Desmarcar todos</button>
      <div [ngClass]="{'contactedStyle': this.contact.contacted == true}" *ngFor="let contact of contactList">
        <span>{{contact.name}}</span><br>
        <span>{{contact.lastname}}</span><br>
        <span>{{contact.email}}</span><br>
        <span>{{contact.telephone}}</span><br>
        <button (click)="eliminarContacto(contact)">Eliminar</button>
        <button class="button_contact" [hidden]="this.contact.contacted == true"
          (click)="this.contact.contacted = !this.contact.contacted">Contactar</button>
        <button class="button_undo" [hidden]="this.contact.contacted == false"
          (click)="this.contact.contacted = !this.contact.contacted">Deshacer</button>
      </div>
      <button (click)="eliminarTodo(contact)">Eliminar todo</button>
    </form>
  </div>

</body>

</html>